@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] min-h-screen;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.prose-invert {
  --tw-prose-body: theme('colors.gray.300');
  --tw-prose-headings: theme('colors.gray.100');
  --tw-prose-links: theme('colors.sky.400');
  --tw-prose-bold: theme('colors.gray.100');
  --tw-prose-code: theme('colors.gray.200');
  --tw-prose-pre-code: theme('colors.gray.200');
  --tw-prose-pre-bg: theme('colors.gray.900');
}